name: Deploy to Render

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Render
        run: |
          curl -f "${{ secrets.RENDER_DEPLOY_HOOK_URL }}"
